<!-- @HaloMegaMenu Library -->
<script>
var haloMenu = new window.haloMenu();

$(document).ready(function() {
    /* Megamenu Settings */
    haloMenu.menuItem(1).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(2).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(3).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(4).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(5).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(6).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(7).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(8).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
   
});
</script>
