










<footer class="footer">
  
  <div class="top-full">
     <div class="themevale_container">
    <div class=" footer-section top">
<div class="content-asset" id="footer-customer-service">

<ul>
<li class="label"><a class="footer-link" href="/contact-us/" target="blank"><i class="fa fa-users" aria-hidden="true"></i><span>Customer Service</span></a></li>
<li><a class="footer-link" href="mailto:sales@online-ammo.com"><i class="fa fa-envelope" aria-hidden="true"></i>Email Us</a></li>
<li><a class="footer-link" href="tel:800-851-2599"><i class="fa fa-phone" aria-hidden="true"></i>Call Us</a></li>

<li><a class="footer-link" href="/shipping-returns/" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i>Returns</a></li>
<li><a class="footer-link" href="/login.php" target="_blank"><i class="fa fa-truck" aria-hidden="true"></i>Track Your Order</a></li>
</ul>
</div> 
</div>
</div>
</div>
 

 
 <div class="main-box">

 <div class="side-left">
   <div class="themevale_container">
       
       <div class="one-box">
    <div class="newsletter">
            {{#if settings.show_newsletter_box}}
                {{> components/common/subscription-form}}
            {{/if}}
    </div>
    <div class="social-media">
       
	<div id="footer-social">
            <h5>Connect with Us</h5>
            <ul>
              <li class="social-icon"><a href="https://www.facebook.com/RTPArmor" target="_blank"><i class="fa fa-facebook"></i><span style="display:none">Facebook</span></a></li>
              <li class="social-icon"><a href="https://twitter.com/rtparmor" target="_blank"><i class="fa fa-twitter"></i><span style="display:none">Twitter</span></a></li>
              <li class="social-icon"><a href="https://www.instagram.com/rtparmor/" target="_blank"><i class="fa fa-instagram"></i><span style="display:none">Instagram</span></a></li>
              <li class="social-icon"><a href="https://www.youtube.com/channel/UCiKNialsR8RVJlxg7SXRBtA/videos" target="_blank"><i class="fa fa-youtube-play"></i><span style="display:none">YouTube</span></a></li>
            </ul>
            <P class="blog-link">100% SATISFACTION GUARANTEE</P>
          </div>
	
    </div>
    </div>
    
    <div class="two-box">
        <div class="about-box">
            <div class="about-img">
              <a href="https://rtp-ammo1.mybigcommerce.com/" title="">
                <img src="https://cdn11.bigcommerce.com/s-j6c30pih27/product_images/uploaded_images/online-ammo-logo-1573508688-75910.original.png?t=1574093979&_ga=2.182766758.1666110806.1574092289-1578224488.1574092289" alt="RTP Armor">
              </a>
            </div>
            
            <div class="about-text">
                <h5>Online Ammo</h5>
                <p>America's #1 Source for Discount Ammo Online</p>
            </div>
            
            <div class="credit desktop-only">
                
                <img src="https://www.merchantequip.com/image/?logos=v|m|a|d|p|g|az&amp;height=32" alt="Merchant Equipment Store Credit Card Logos">
                <p>© 1996-2018 RTP AMMO, LLC Inc, All Rights Reserved. </p>
            </div>
            
            
            
        </div>
        
        <div class="about-link-box">
            <div class="link-box">
                <h5 class="footer-info-heading">Company & Site info</h5>
                    <ul class="footer-info-list">
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/about-us/">About Us</a></li>
                        <li><a href="/rebate-center/">Rebate Center</a></li>
                        <li><a href="/shipping-returns/">Shipping & Returns</a></li>
                        <li><a href="/buying-firearms-online/">Buying Firearms Online</a></li>
                        <li><a href="{{urls.sitemap}}">Sitemap</a></li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                    </ul>
            </div>
            <div class="link-box">
                <h5 class="footer-info-heading">Shop</h5>
                    <ul class="footer-info-list">
                        {{#each categories}}
                            <li class="menu-{{id}}">
                                <a href="{{url}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
            </div>
        </div>
        
        
        </div>
    
    
     </div>

  </div>
  
  
  <div class="twitter-box">
      <div class="themevale_container">
           <div class="twi-inner">
              <a class="twitter-timeline" data-height="400"
data-width="100%"
   href="https://twitter.com/RtpArmor?ref_src=twsrc%5Etfw">Tweets by RtpArmor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
               
           </div>
           
           
           </div>
      
  </div>

 </div>
  
  
    <div class="credit mobile-only">
                <div class="themevale_container">
                <img src="https://www.merchantequip.com/image/?logos=v|m|a|d|p|g|az&amp;height=32" alt="Merchant Equipment Store Credit Card Logos">
                <p>© 1996-2018 RTP AMMO, LLC Inc, All Rights Reserved. </p>
            </div>
  </div>
  
  
  
  
  
  
 
</footer>
{{#if theme_settings.themevale_backtotop}}
     <div id="back-to-top">
        <a href="javascript:void(0)" class="fade-out"><i><svg class="icon icon-close"><use xlink:href="#keyboard-arrow-up"></use></i></a>
    </div>
{{/if}}
 











<style type="text/css">
ul {
	margin-left: 0px;
}
#footer #footer-customer-service h3 {
    font-size: 1.1rem;
    margin: 0;
}
#footer #footer-customer-service ul li {
    float: left;
    width: 24.3333%;
    text-align: center;
}
 #footer-customer-service ul li.label {
	display: block;
	text-align: left;
}
#footer-customer-service ul li {
	width: 20%;
	float:left;
}
.new-footer {
	float: left;
	width: 100%;
}
#footer-customer-service a {
	font-size: 17px;
	font-weight: bold;
}

#footer-customer-service .fa {
	margin-right: 12px !important;
	font-size: 25px;
}
#footer-customer-service ul li {
	list-style: none;
}
.top-full {
	float: left;
	width: 100%;
	border-bottom: 1px solid;
	padding-bottom: 23px;
}
.side-left {
	float: left;
	width: 75%;
}
.newsletter {
	width: 50%;
	float: left;
	text-align: left;
}
.social-media {
	float: left;
	width: 50%;
	text-align: center;
}
.newsletter .form-input {

	min-width: unset;
}
.social-media {
	float: left;
	width: 43%;
	text-align: center;
	border-left: 1px solid;
	border-right: 1px solid;
	margin: 0px 0px 0px 50px;
}
#footer-social ul li a i {
	font-size: 3rem;
}
.fa {
    display:inline;
}
.side-left {
	margin-top: 30px;
}
.footer-info-heading {
	font-weight: 700;
	font-size: 16px;
	
}
#footer-social h5 {
	margin-top: 0px;
	font-weight: 700;
	font-size: 16px;
}
.footer .form-prefixPostfix .form-input {
	min-width: unset !important;
}
.social-icon {
	display: inline;
	padding: 10px 23px;
}

.twitter-box {
	display: inline-block;
	width: 25%;
	padding-top: 30px;
}
.one-box {
	float: left;
	width: 100%;
	border-bottom: 1px solid;
	padding-bottom: 30px;
}
.two-box {
	float: left;
	width: 100%;
	margin-top: 23px;
}

.about-box {
	width: 49%;
	float: left;
}
.about-link-box {
	float: left;
	width: 46%;
	padding-left: 25px;
}
.about-img{
    float: left;
    width: 150px;
}
.about-text {
	float: right;
	width: 64%;
}
.about-text h5{
    margin-top:0px;
    font-weight: 700;
}
.link-box {
	width: 50%;
	float: left;
}
.footer .themevale_container{
    max-width:unset !important;
}
.themevale_bottomFooter {
	display: none;
}
.mobile-only{
    display:none;
}
.footer {
	padding-bottom: 20px;
}
.top-full {
	border-top: 1px solid;
}

.blog-link {
	color: #d84139;
	font-size: 15px;
	font-weight: bold;
}
#footer-customer-service a {
	color: #002868;
}
#footer-social ul li a i {
	color: #002868;
}










@media screen and (max-width: 600px) {
#footer #footer-customer-service a {
font-size: 0.8em;
line-height: 1em;
}
}
@media screen and (min-width: 1024px) {
#footer #footer-customer-service ul li {
    width: 20%;
}
#footer #footer-customer-service a {
font-size: 1.1rem;
}
}





@media only screen and (min-width:768px) and (max-width:1024px){
    #footer-customer-service .fa {
	margin-right: 12px !important;
	font-size: 18px;
}
#footer-customer-service ul li {
	width: 20%;
	float: left;
}

#footer-customer-service a {
	font-size: 12px;
}
.side-left {
	width: 63%;
	padding-bottom: 20px;
}
.newsletter {
	width: 100%;
	float: left;
	text-align: left;
}
.social-media {
	float: left;
	width: 100%;
	text-align: left;
	border-left: 0px solid;
	border-right: 0px solid;
	margin: 0px 0px 0px 0px;
}
#footer-social ul li a i {
	font-size: 2.2rem;
}
.social-icon {
	padding: 10px 16px;
}
.newslatter .form {
	margin-bottom: 0px;
}
.about-box {
	width: 100%;
	float: left;
}
.about-text {
	float: right;
	width: 63;
	margin-top: 0px;
}
.about-img {
	float: left;
	width: 150px;
}
.desktop-only {
	display: none;
}
.mobile-only {
	display: block !important;
	padding: 10px 0px 24px;
}
    .about-link-box {
	padding-left: 2px;
}
.about-link-box {
	float: left;
	width: 100%;
	padding-left: 2px;
}
.twitter-box {
	display: inline-block;
	width: 37%;
	padding-top: 24px;
}
#footer-customer-service ul li {
	margin-bottom: 8px;
}

.two-box {
	float: left;
	width: 100%;
	margin-top: 23px;
	margin-bottom: 35px;
}
.mobile-only {
	display: flex !important;
}
.newsletter .form {
	margin-bottom: 0px;
}
}






@media only screen and (min-width:320px) and (max-width:767px){
    #footer-customer-service .fa {
	margin-right: 12px !important;
	font-size: 18px;
}
#footer-customer-service ul li {
	width: 50%;
	float: left;
}
#footer-customer-service a {
	font-size: 12px;
}
.side-left {
	width: 100%;
}
.newsletter {
	width: 100%;
	float: left;
	text-align: left;
}
.social-media {
	float: left;
	width: 100%;
	text-align: left;
	border-left: 0px solid;
	border-right: 0px solid;
	margin: 0px 0px 0px 0px;
}
#footer-social ul li a i {
	font-size: 2.2rem;
}
.social-icon {
	padding: 10px 16px;
}
.newslatter .form {
	margin-bottom: 0px;
}
.about-box {
	width: 100%;
	float: left;
}
.about-text {
	float: left;
	width: 100%;
	margin-top: 23px;
}
.about-img {
	float: left;
	width: 182px;
}
.desktop-only {
	display: none;
}
.mobile-only {
	display: block !important;
	padding: 10px 0px 24px;
}
    .about-link-box {
	padding-left: 2px;
}
.about-link-box {
	float: left;
	width: 100%;
	padding-left: 2px;
}
.twitter-box {
	display: inline-block;
	width: 100%;
	padding-top: 24px;
}
#footer-customer-service ul li {
	margin-bottom: 8px;
}
}


</style>


<script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
